<%- include("../partials/header") %>

<div class="ui container">
    <h1>Add New Comment to <%= recipes.title %></h1>

    <form action="/kk/recipes/<%= recipes.slug %>/comments" class="ui form" method="POST">
        <div class="field">
            <label>Comment Title</label>
            <div class="ui large input">
                <input type="text" name="comment[title]" placeholder="Comment Title" />
            </div>
        </div>
        <br>
        <div class="field">
            <label>Comment Body</label>
            <textarea rows="2" cols="50" name="comment[content]" required></textarea>
        </div>
        <br>
        <div class="field">
            <div class="ui large input">
                <button name="submit" class="ui <% color() %> button">Submit</button>
                <a name="submit" href="/kk/recipes/show/<%= recipes.slug %>" class="ui <% color() %> button">Cancel</a>
            </div>
        </div>
    </form>
</div>

<% function color(){ %>
    <% if(currentUser){ %>
        <%= currentUser.color %>
    <% } else { %>
        blue 
    <% } %>
<% } %>

<%- include("../partials/footer") %>